
<div id="content-container">
	<%= image_tag "soccer-background.jpg", alt: "Recruiter Image", id: "background-image" %>
	<div id="lets-talk">
		<table id="footer-menu">
			<tr>
				<td>Explore</td>
				<td>Clients</td>
				<td>Facebook</td>
				<td>News</td>
			</tr>
			<tr>
				<td>Culture</td>
				<td>Careers</td>
				<td>Twitter</td>
				<td>Contact</td>
			</tr>
			<tr>
				<td>Recruiting Rules</td>
				<td>Recruiting Events</td>
				<td>Instagram</td>
				<td></td>
			</tr>
		</table>
	</div>
</div>