
<%= image_tag "background-coach.png", alt: "Recruiter Image", id: "background-image" %>
<div class="jumbotron">
	<div id="primary-content-left">
		<h2>
		What is Reverse Recruiting?
		</h2>
		<p>
		Reverse Recruiting is the only tool designed to help high school athletes find the collegiate athletic program that fits them academically, financially, and athletically.  Using our sport specific filterable maps, our goal is to help you find the program where you will be the most successful, whether that means a top Division-I school or a Division-3 program with kick ass acadmics.
		</p>
	</div>
	<div id="primary-content-right"></div>
</div>
<div id="secondary-content"></div>