
<div id="content-container">
<%= image_tag "background-coach.png", alt: "Recruiter Image", id: "background-image" %>
<div class="jumbotron">
	<div id="primary-content">
		<h1>Find the perfect NCAA program for you.</h1>
		<p>
		We help athletes find the NCAA program that suits them best based on financial, academic, and athletic needs.
	    </p>
	</div>
</div>


<div class="ladder" id="ladder-rung-1">
	<div class="ladder-content" id="ladder-content-1">
	<h1>Search through DI, DII, DIII, NAIA, and Juco Programs</h1>
	</div>
</div>
<div class="container-popup">
		<div class="popup">

		<div id="x-icon">
		<div id="x-icon-background"></div>
			<%= image_tag "delete.svg", alt: "x-icon image", id:"x-icon" %>
		</div>
			<%= image_tag "Signup.png", alt: "Recruiter Image", id: "signup-image" %>
		</div>
	</div>
</div>