// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gold: #baa13f;


#content-container{
  position: absolute;
  display: block;
  width: 100%;
  height: 1100px;
 
  top: 0;
  @media screen and (min-width: 800px){
    width: 98%; 
    margin-left: 1%;
  } 
  font-size:12px;
  
  @media screen and (min-width: 450px){
    font-size:14px;
  }
  @media screen and (min-width: 650px){
    font-size: 16px;
  }
    p{
      font-family: 'Lato', sans-serif;
      font-style: bold;
      font-size: 1.5em;
      line-height: 1.5em;

    }
    h1{
       font-family: 'trade-condensed', sans-serif;
       text-transform: uppercase;
       font-size: 3em;
       line-height: 1.2em;   
       @media screen and (min-width: 450px){
        line-height: 1.75em;
       }
    }
}
.jumbotron{
  position: absolute; 
  top: 40px; 
  left: 0px; 
  padding: 0px;
  margin:0px;
  /* Preserve aspet ratio */

  height: 56vw;
  z-index: 0;
  clear: both;
  width: 100%;
  max-width: 100%;
  z-index: 4;
  text-align: center;

 }
 
#primary-content{
  color:white;
 	padding: 10px;
 	display: block;
	left: 10%;
 	height:400px;
 	width: 95%;
 	border-radius: 40px;
 	margin-top: 50px;
 	margin-left: 2%;
  z-index: 5;
  
}

 .container-popup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 10;
}

.popup {
    display: block;
    width: 35%;
    height: 70%;
    background: rgba(255,255,255,1);
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
    z-index: 10;
    border-radius: 31px;
}

#signup-image{
  border-radius: 30px;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  right:0;
  width: 100%;
  height: 100%;    
}

#x-icon-background {
  background-color: $gold;
  visibility: hidden;
  display: block;
  position: absolute;
  height:39px;
  width:39px;
  top:6px;
  right:6px;
  z-index: 20;
  border-radius: 50%;
}

#x-icon{
  position: absolute;
  height:40px;
  width:40px;
  top:5px;
  right:5px;
  z-index: 20;

  &:hover{
    cursor: pointer;
    cursor: hand;
    #x-icon-background{
      visibility: visible;
    }
  } 
}


.ladder{
  float: left;
  height:250px;
  width: 100%;
  background-color: $gold;
  display: block;
  z-index: 4;
  top: 480px;
  position: absolute;
  @media screen and (min-width:800px){
    top:60vw;
  }
}

.ladder-content{
  width: 100%;
  text-align: center;
  vertical-align: middle;
  color: black;
  z-index: 5;
 padding: auto;

  h1{  
    line-height: 1.0em;
    vertical-align: middle;
  }

}
